In [26]:
# Creacion de script para procesar Sucursal.csv
# asumimos que este archivo siempre será enviado en este formato

In [27]:
import pandas as pd

In [28]:
nombre_archivo = 'sucursal.csv'
# este nombre tiene que tomarse de la ejecución del script; para desarrollarlo lo hardcodeamos
extension = nombre_archivo.split('.')[1]
# guarda la extension del archivo
ruta = './Datasets/'
# harcodeamos ruta relativa

In [29]:
dfsucursal = pd.read_csv(str(ruta)+str(nombre_archivo))

In [30]:
dfsucursal.head()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

In [31]:
dfsucursal.describe()

        comercioId    banderaId          lat          lng
count  2333.000000  2333.000000  2333.000000  2333.000000
mean     12.025718     1.529361   -34.608169   -60.745506
std       5.763732     0.889533     3.878869     3.606071
min       1.000000     1.000000   -54.830640   -72.336170
25%      10.000000     1.000000   -34.734920   -63.296037
50%      11.000000     1.000000   -34.604960   -58.535853
75%      15.000000     2.000000   -34.436000   -58.425651
max      65.000000     6.000000   -22.513508   -55.876680

In [32]:
# observamos valores de latitud y longitud para argentina. No encontramos incongrüencias.
# los valores extremos (maximos y minimos) de ambos parámetros estan comprendidos entre los posibles.
# lat -21 ~ -56 // lng -53 ~ -74

In [33]:
def sacar_espacios(df):
    '''
    Quitar espacios vacíos de de ambos lados de las cols con strings.
    '''
    sacar_espacios = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(sacar_espacios)
sacar_espacios(dfsucursal)

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado
...,...,...,...,...,...,...,...,...,...,...,...,...
2328,9-3-5277,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-U,COMODORO RIVADAVIA,Yrigoyen Hipolito 0,-45.873300,-67.493500,Jumbo-Comodoro,Hipermercado
2329,9-3-5626,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,GENERAL PACHECO,Boulogne Sur Mer 1275,-34.474500,-58.625700,Jumbo Pacheco Novo,Hipermercado
2330,9-3-5961,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-C,CIUDAD AUTONOMA BUENOS AIRES,Avenida Santa Fe 4950,-34.577200,-58.430000,Jumbo Av. Santa Fé,Supermercado
2331,9-3-628,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,SAN FERNANDO,Avenida Del Libertador Gral San Martin 2271,-34.446900,-58.545700,Jumbo San Fernando,Supermercado
2332,9-3-662,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,DEL VISO,Acceso Pilar Norte 0,-34.436000,-58.808000,Jumbo Paseo del Pilar,Supermercado

In [34]:
def minuscula(df):
    '''
    convierte a minusculas todos los textos del dataframe
    '''
    minuscula = lambda x: x.lower() if isinstance(x, str) else x
    return df.applymap(minuscula)
dfsucursal = minuscula(dfsucursal)

In [35]:
def titular(df):
    '''
    Convierte a mayúscula la 1era letra de cada palabra en todas las cols.
    '''
    titular = lambda x: x.title() if isinstance(x, str) else x
    return df.applymap(titular)
dfsucursal = titular(dfsucursal)

In [36]:
# mantengo en mayúsculas la columna 'provincia'
dfsucursal['provincia']=dfsucursal['provincia'].str.upper()

In [37]:
dfsucursal.describe(include=[object])
#importante chequear que no haya Ids duplicados. Se observa que countid y uniques son iguales. entonces no hay duplicidad de ids.

,id,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,sucursalNombre,sucursalTipo
count,2333,2333,2333,2333,2333,2333,2333,2333
unique,2333,45,34,24,538,2331,2199,4
top,1-1-7,Supermercados Dia,Dia Argentina S.A,AR-C,Capital Federal,Sarmiento 0,Josimar,Autoservicio
freq,1,644,644,816,367,3,8,1052

In [38]:
dfsucursal.isnull().sum()
#chequeo nulos y observo que no hay valores nulos en toda la tabla

id                     0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

In [39]:
# debo chequear también que no haya errores en la columna Id, en cuanto que este id se conforma al concatenar la columna banderaID y comerciorazon social.
# descompongo la col id, en los 3 valores que la conforman para luego chequear que indivualmente coincidan con las columnas correspondientes.

dfsucursal_check = dfsucursal['id'].str.split('-', n=2, expand=True)

In [40]:

dfsucursal_check['comercioId'] = dfsucursal['comercioId'].astype(str)
dfsucursal_check['banderaId'] = dfsucursal['banderaId'].astype(str)
#lo convierto a str para poder comparar valores del mismo tipo

In [41]:
check1 = dfsucursal_check[0] == dfsucursal_check['comercioId'] 
check1.describe()
#observo que es True para toda la columna. no hay incongrüencias

count     2333
unique       1
top       True
freq      2333
dtype: object

In [42]:
check1 = dfsucursal_check[1] == dfsucursal_check['banderaId'] 
check1.describe()
#observo que es True para toda la columna. no hay incongrüencias

count     2333
unique       1
top       True
freq      2333
dtype: object

In [43]:
dfsucursal['banderaDescripcion'].unique()

array(['Super Mami', 'Hipermercado Carrefour', 'Market', 'Express',
       'Changomas', 'Mi Changomas', 'Walmart Supercenter', 'Coto Cicsa',
       'Cooperativa Obrera Limitada De Consumo Y Vivienda',
       'Supermercados Becerra', 'Supermercados Dia',
       'Hipermercado Libertad', 'Mini Libertad', 'Atomo', 'Super Aiello',
       'Full', 'La Anonima', 'Topsy', 'Bomba',
       'La Agricola Regional Cooperativa Limitada', 'Toledo',
       'Axion Energy', 'Simplicity', 'La Amistad',
       'Josimar Supermercados', 'Deheza S.A.I.C.F. E I.',
       'Mucoop Cap.Sarmiento', 'Superclc', 'Estacion Lima S.A.',
       'Supermercados El Nene', 'Almacenes Pampas', 'Almacenes De Marca',
       'Sup. Unicoop        ', 'Super Tuti1 Y Super Tuti 3',
       'California Supermercados', 'Super Tuti2 Y Super Todo',
       'Supermercados Comodin', 'Maxi Comodin', 'Diarco',
       'Supermercados Cordiez', 'Abastecimiento Mercamax', 'Mariano Max',
       'Vea', 'Disco', 'Jumbo'], dtype=object)

In [44]:
dfsucursal['comercioRazonSocial'].unique()

array(['Dinosaurio S.A.', 'Inc S.A.', 'Wal Mart Argentina S.R.L.',
       'Coto Centro Integral De Comercialización S.A.',
       'Cooperativa Obrera Limitada De Consumo Y Vivienda',
       'Miguel Becerra S.A.', 'Dia Argentina S.A', 'Libertad S.A',
       'Millan S.A.', 'Aiello Supermercados S.A.',
       'Operadora De Estaciones De Servicios S.A.',
       'S.A. Importadora Y Exportadora De La Patagonia',
       'La Agricola Regional Cooperativa Limitada',
       'Supermercados Toledo S.A.', 'Pan American Energy Llc Argentina',
       'Farmacity S.A.',
       'Autoservicio La Amistad Cooperativa De Trabajo Limitada',
       'Josimar S.A.', 'Deheza S.A.I.C.F. E I.',
       'Asociación Mutual Socios Y Adherentes De La Cooperativa Agrícola De Capitán Sarmiento',
       'Superclc S.A.', 'Estación Lima S.A.', 'Supermercado El Nene S.A.',
       'Almacenes Pampas S.A. ', 'Almacenes De Marca S.A.',
       'Cooperativa Agrícola Ganadera E Industrial De Patagones Y Viedma Lta.',
       'Arnaldo P. Appella S.A.', 'California S.A.',
       'Supermercado Tuti 2 S.A.', 'Alberdi S.A.', 'Diarco', 'Cyre S.A.',
       'Mariano S.A.', 'Jumbo Retail Argentina S.A.'], dtype=object)

In [45]:
dfsucursal['provincia'].unique()

array(['AR-X', 'AR-B', 'AR-A', 'AR-J', 'AR-U', 'AR-R', 'AR-V', 'AR-L',
       'AR-Q', 'AR-W', 'AR-M', 'AR-K', 'AR-S', 'AR-C', 'AR-E', 'AR-D',
       'AR-H', 'AR-T', 'AR-Z', 'AR-P', 'AR-Y', 'AR-F', 'AR-G', 'AR-N'],
      dtype=object)

In [46]:
# Queda pendiente o en std by una normalizacion de todas las localidades de cada provincia.
provincias = dfsucursal['provincia'].unique()
dfsucursal[dfsucursal['provincia']==provincias[13]]['localidad'].unique()

array(['Ciudad Autónoma De Buenos Aires', 'Ciudad Autonoma Buenos Aires',
       'Capital Federal', 'V Illa Lugano', 'Caballito', 'Lugano',
       'Cdad. De Bs.As', 'Parque Chacabuco', 'Once', 'Saavedra',
       'Constitucion', 'Paternal', 'Belgrano', 'Barrio Norte', 'Caba',
       'Palermo', 'San Telmo', 'Villa Devoto', 'Liniers', 'Flores Sur',
       'Almagro', 'Boedo', 'Flores', 'Devoto', 'Floresta', 'Tribunales',
       'Villa Urquiza', 'Pompeya', 'Parque Patricios', 'San Cristobal',
       'Villa Crespo', 'Villa Luro', 'Mataderos', 'Abasto',
       'Ciudad Autonoma De Buenos Aires', 'Barracas'], dtype=object)

In [47]:
dfsucursal['sucursalTipo'].unique()

array(['Hipermercado', 'Supermercado', 'Autoservicio', 'Minorista'],
      dtype=object)

In [48]:
dfsucursal.rename(columns={'id': 'Id_Sucursal', 'comercioId': 'Id_Comercio', 'banderaId': 'Id_Bandera'}, inplace=True)

In [49]:
dfsucursal.head()

,Id_Sucursal,Id_Comercio,Id_Bandera,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super Mami,Dinosaurio S.A.,AR-X,Salsipuedes,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,Inc S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,Inc S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,Inc S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,Inc S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

In [50]:
#exportacion a csv de la tabla
ruta_export = './Data_out/'
nombre_archivo_out = 'sucursal_out.csv'
dfsucursal.to_csv(ruta_export+nombre_archivo_out, index=False, encoding='utf-8-sig')